<?php
# Configuration file for osTicket
define('OSTICKET_CONFIGFILE', '/var/www/html/include/ost-config.php');
define('DBTYPE', 'mysql');
define('DBHOST', 'db');
define('DBNAME', '{{ db_name }}');
define('DBUSER', '{{ db_user }}');
define('DBPASS', '{{ db_pass }}');
define('INSTALLED', true);
define('PREFIX', 'ost_');
?>
