<?php
# Configuration file for osTicket
if (!defined('DBTYPE')) define('DBTYPE', 'mysql');
if (!defined('DBHOST')) define('DBHOST', 'db');
if (!defined('DBNAME')) define('DBNAME', 'osticket');
if (!defined('DBUSER')) define('DBUSER', '{{ db_user }}');
if (!defined('DBPASS')) define('DBPASS', '{{ db_pass }}');
if (!defined('INSTALLED')) define('INSTALLED', true);
if (!defined('PREFIX')) define('PREFIX', 'ost_');
?>
