<VirtualHost *:80>
    ServerName {{ domain_name }}
    Redirect permanent / https://{{ domain_name }}/
</VirtualHost>

<VirtualHost *:443>
    ServerName {{ domain_name }}

    ProxyPreserveHost On
    ProxyPass / http://localhost:{{ http_port }}/
    ProxyPassReverse / http://localhost:{{ http_port }}/

    SSLEngine on
    SSLCertificateFile /etc/letsencrypt/live/{{ domain_name }}/fullchain.pem
    SSLCertificateKeyFile /etc/letsencrypt/live/{{ domain_name }}/privkey.pem

    ErrorLog ${APACHE_LOG_DIR}/osticket-error-ssl.log
    CustomLog ${APACHE_LOG_DIR}/osticket-access-ssl.log combined
</VirtualHost>
